:root {
  --background: #424852;
  --display-bg: #4c6691;
  --btn-bg: #73a5f5;
}

body {
  height: 100vh;
  background-color: var(--btn-bg);
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#drum-machine {
  height: 50%;
  width: 33%;
  max-height: 50%;
  max-width: 33%;
  min-width: 33%;
  
}
.flex-container {
  width: 100%;
}
.drum-pad {
  width: 33%;
  height: 33%;

}
#display {
  color: white !important;
  background-color: var(--display-bg);
}

.drum-pad {
  border: solid 1px;
}
